@import url(https://fonts.googleapis.com/css?family=Nunito);.hide {
  display: none;
}

.show {
  display: grid;
  place-items: center;
  width: 100%;
}

#store_ajax input,
#store_ajax select {
  width: 100%;
  display: block;
  border-radius: 20px;
  padding: 0 10px;
}

.dataTables_filter input {
  /* Add your custom CSS styles here */
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  padding: 8px 12px;
  border-radius: 10px;
  width: 250px;
  font-size: 16px;
  color: #333;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, background-color 0.3s;
}

/* Change the input's border and background color on focus */

.dataTables_filter input:focus {
  border-color: #1e40af;
  background-color: #fff;
}

.paginate_button.next,
.paginate_button.previous {
  background-color: #1e40af;
  color: #fff;
  padding: 8px 12px;
  border-radius: 5px;
  margin: 0 5px;
}

.paginate_button.next:hover,
.paginate_button.previous:hover {
  background-color: #1e40af;
}

.paginate_button {
  background-color: #ddd;
  color: #333;
  padding: 8px 12px;
  border-radius: 5px;
  margin: 0 5px;
}

.paginate_button:hover {
  background-color: #ccc;
}

.paginate_button.current {
  background-color: #1e40af;
  color: #fff;
  padding: 8px 12px;
  border-radius: 5px;
  margin: 0 5px;
}

.bi-pencil-square::before {
  margin-right: 10px;
}

.bi-trash3-fill::before {
  margin-right: 10px;
}

#multi_del {
  border-radius: 10px;
}

#select_all {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid rgb(17, 17, 17);
  padding: 0;
  display: grid;
  justify-content: center;
  color: #b91c1c;
}

