@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
    font-family: 'Nunito', sans-serif;
}

input,
.add-stud-form select,
.filterby,
select {
    background-color: #e5e5e5;
    border: 1px solid rgb(24, 24, 24);
    border-radius: 5px;
}

label,
.add-stud-form select {
    color: black;
    font-weight: 500;
    position: relative;
}

.add-stud-form input,
.add-stud-form select {
    width: 100%;
    border-radius: 5px;
    text-indent: 10px;
}

.btn {
    border: 0;
}

#app nav,
#app .card-header {
    background-color: rgb(67 56 202);
    color: white;
}

.form-group button {
    background-color: rgb(67 56 202);
    color: white;
}

.form-group button:hover {
    background-color: rgb(79 70 229);
    color: white;
}

.pass-show {
    position: absolute;
    top: 25%;
    right: 25px;
}
